##circleciのバージョン
version: 2
##ジョブ定義
jobs:
  ##自動的に実行されるジョブ。必須。                              
  build:
    ##dockerがタスクの実行環境                        
    docker:
      ##dockerイメージ
      - image: circleci/golang:1.9

    ##ステップが実行されるディレクトリ
    working_directory: /go/src/github.com/uguisuhohokekyo/helloWorldGOGO

    ##実行単位ステップを記述していく
    steps:

      ##working_directoryを設定
      - checkout

      ##bashコマンドを記載
      - run:

       ##runの名前
       name: hello test
         
       ##コマンド
       command: |
        go test -v ./cmd/hello_test.go
